<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="about-card">
      <div class="header">
        <h5>Semestral</h5>

        <div class="price">
          <h4>R$ 52,90</h4>
          <span>R$ 634,80 por ano</span>
        </div>
      </div>

      <div class="details">
        <ul>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
        </ul>

        <button class="btn secondary">Assinar semestral</button>
      </div>
    </div>
  </body>
</html>
