.btn {
  position: relative;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 2.25rem;

  cursor: pointer;
  overflow: hidden;

  font: var(--button);
  color: var(--text-title);
  z-index: 1;

  &::before {
    position: absolute;
    content: "";

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;

    z-index: -1;
    transition: height 400ms ease, width 400ms ease;
  }

  &:hover::before {
    height: 300%;
    width: 150%;
  }
}

.btn.primary {
  background: var(--pink-dark);

  &::before {
    background-color: var(--pink-base);
  }
}

.btn.secondary {
  background: var(--blue-dark);

  &::before {
    background-color: var(--blue-mid);
  }
}
