a {
  color: var(--blue-light);
  transition: color 300ms ease-in-out;

  &:hover {
    color: var(--text-body);
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;

  transition: background-color 300ms ease-in-out, background-image 300ms ease-in-out;

  &:hover {
    background-color: var(--shape-stroke);
  }
}

.social-link {
  &.discord {
    background-image: url("../assets/icons/discord.svg");

    &:hover {
      background-image: url("../assets/icons/discord-hover.svg");
    }
  }

  &.facebook {
    background-image: url("../assets/icons/facebook.svg");

    &:hover {
      background-image: url("../assets/icons/facebook-hover.svg");
    }
  }

  &.instagram {
    background-image: url("../assets/icons/instagram.svg");

    &:hover {
      background-image: url("../assets/icons/instagram-hover.svg");
    }
  }

  &.mail {
    background-image: url("../assets/icons/mail.svg");

    &:hover {
      background-image: url("../assets/icons/mail-hover.svg");
    }
  }

  &.twitter {
    background-image: url("../assets/icons/twitter.svg");

    &:hover {
      background-image: url("../assets/icons/twitter-hover.svg");
    }
  }

  &.whatsapp {
    background-image: url("../assets/icons/whatsapp.svg");

    &:hover {
      background-image: url("../assets/icons/whatsapp-hover.svg");
    }
  }

  &.discord {
    background-image: url("../assets/icons/discord.svg");

    &:hover {
      background-image: url("../assets/icons/discord-hover.svg");
    }
  }

  &.discord {
    background-image: url("../assets/icons/discord.svg");

    &:hover {
      background-image: url("../assets/icons/discord-hover.svg");
    }
  }
}
